.game {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 6px;
}
.game_join-code {
  position: absolute;
  top: 0;
  right: 0;
  width: 128px;
  height: 100px;
  text-align: center;
}

.game_spectators {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  width: 128px;
  text-align: center;
}
.game_spectators > div > div {
  width: 64px;
  margin: auto;
}
.game_spectators > div > div > img {
  width: 64px;
  height: 64px;
  display: block;
}
.game_spectators > div > div > div {
  background: #643620;
  z-index: 1;
  border-radius: 3px;
  margin: 1px;
  transform: translateY(-9px);
}

.game_hand {
  position: absolute;
  bottom: 0;
  left: 48px;
  display: flex;
}

.game_hand > div {
  background: white;
  border-radius: 12px;
  width: 160px;
  height: 230px;
  margin-right: 12px;
}

.game_players {
  position: absolute;
  top: 0;
  right: 200px;
  left: 12px;
  height: 178px;
  display: flex;
}
.game_players > div {
  position: relative;
  margin-right: 12px;
}
.game_players > div > img {
  display: block;
  width: 128px;
  height: 128px;
}
.game_player-nick {
  background: #0c1620;
  padding: 3px 12px;
  z-index: 1;
  border-radius: 3px;
  margin: 1px;
  transform: translateY(-9px);
}

.game_card-locs {
  position: absolute;
  top: 200px;
  right: 200px;
  bottom: 300px;
  left: 12px;
}
.game_card-locs > div {
  position: absolute;
  background: #242e39;
  border-radius: 12px;
  border: 2px solid #6a83a7;
  width: 90px;
  height: 140px;
  margin-right: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #6a83a7;
  justify-content: center;
}
.game_player-hand {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}
.game_player-card {
  width: 20px;
  height: 30px;
  background: white;
  border-radius: 2px;
  margin: 3px;
}
